# secrets.yaml.tmpl
- !policy
  id: ${CONJUR_RESOURCE_PREFIX}/secrets
  body:
  - !policy
    id: saas-external-apis
    body:

    - !variable
      id: openweather/api-key
      annotations:
        description: External API key for OpenWeather service

    - !variable
      id: timezone/token
      annotations:
        description: External API token for Timezone service

    # Grant ${SPIFFE_SUBJECT} host read access to secrets

    - !permit
      role: !host /data/${CONJUR_RESOURCE_PREFIX}/workloads/${SPIFFE_SUBJECT}
      privilege: [ read, execute ]
      resource: !variable openweather/api-key

    - !permit
      role: !host /data/${CONJUR_RESOURCE_PREFIX}/workloads/${SPIFFE_SUBJECT}
      privilege: [ read, execute ]
      resource: !variable timezone/token
